.shop-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
}
.product-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin: 60px;
}
.cart-container{
    background-color: coral;
    height: 500px;
}
.cart-details{
    margin-left: 10px;
    color: white;
}